.page-footer {
  &--index {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: @mobile-width;
  min-height: 284px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-footer__logo-wrapper {
  width: 147px;
  height: 41px;
  margin-bottom: 42px;
}

.page-footer__logo {
  &:hover:not(:active) path {
    fill: @pink;
  }

  &:active {
    fill: none;
    opacity: 30%;
  }

  &--desktop {
    display: none;
  }
}

.page-footer__social {
  margin-bottom: 36px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  font-size: 14px;
  color: @dark;
  text-decoration: none;

  &:hover .page-footer__copyright-icon {
    fill: @dark;
  }

  &:active .page-footer__copyright-icon {
    opacity: 30%;
  }
}

.page-footer__copyright-icon {
  margin-left: 14px;

  fill: @pink;
}

@media (min-width: @tablet-width) {
  .page-footer {
    &--index {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: @tablet-width;
    min-height: 127px;
    padding: 39px 20px 0;
  }

  .page-footer__logo-wrapper,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
    padding: 70px 11px 0;
    min-height: 197px;
  }

  .page-footer__logo {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-footer__copyright {
    font-size: 18px;
  }
}
