.page-main__wrapper {
  margin-top: -68px;
  background: @dark;

  &--index {
    height: 733px;
  }
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    margin-top: -109px;

    &--index {
      height: 728px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    margin-top: -120px;

    &--index {
      height: 851px;
    }
  }
}
